.active {
  background-color: rgb(142, 255, 162);
}

.container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.fieldset {
  padding: 0 10px;
  margin-right: 40px;
  border-radius: 5px;
  border: 1px solid black;
}

.legend {
  padding: 0 5px;
}

.label {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-bottom: 5px;
}

.input {
  padding: 10px;

  font-size: 20px;
  border: none;

  &:focus {
    border: none;
  }
}

.noMatch {
  background-color: white;
  position: absolute;
  top: 44px;
  left: 0;
}

.suggestionsList {
  display: flex;
  flex-direction: column;
  position: absolute;
  max-height: 100px;
  width: 100%;
  overflow-y: scroll;
  top: 44px;
  left: 0;

  background-color: white;
  list-style: none;

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background: #fafafd;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #4b6d37;
    border-radius: 20px;
    border: 1px solid lightblue;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: aquamarine;
  }

  &__item {
    width: 100%;
    border: none;
    padding: 5px;

    &:hover {
      background-color: rgb(142, 255, 162);
    }
  }
}
