.goBack {
  position: absolute;
  top: 150px;
  right: 40px;
  padding: 20px;

  border: none;
  background-color: rgb(67, 195, 99);
  border-radius: 20px;
  font-size: 40px;
  font-weight: bold;
  transition: background-color 0.5s;

  &:hover {
    background-color: rgb(119, 248, 151);
  }
}
